header {
    text-align: center;
    background: #1C8D8D;
    padding: 23px 0;
    margin-bottom: 30px;
}
/* Reset css */
body {
    background: #000;
    color: #fff;
}
a, a:hover {
    text-decoration: none;
}

a:focus {
    outline: 0;
}
button {
    padding: 0;
    border: 0;
    background: 0;
}

button:focus,
.btn:focus {
    outline: 0;
    box-shadow: none;
}
h1,h2,h3,h4,h5,h6,p{
    margin: 0;
    padding: 0;
}
/* Helper css */
.d-flex{
    display: flex;
}  
.align-center{
    align-items: center;
}